body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.hat {
  height: 100px;
  width: 100%;
}

.main {
  height: 100vh;
  margin-top: 40px;
  display: flex;
}

.left-promo {
  width: 100px;
  height: 100vh;
  margin-right: 86px;
}

.banner {
  background-color: #d9d9d9;
}

.container-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 61px;
  column-gap: 48px;
  row-gap: 35px;
  grid-auto-rows: 60px;
}

.container-user-content {
  width: 100%;
  margin-right: 129px;
}

.box-9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}

.comment-block {
  height: auto;
  outline: none;
  overflow: none;
  resize: none;
}

.success-comment.active {
  background-color: #abd873;
  cursor: pointer;
  opacity: 1;
}

.success-comment {
  background-color: #a1a1a1;
  cursor: not-allowed;
  border-radius: 5px;
  transition: 200ms;
  color: #000000;
  outline: none;
  opacity: 0.4;
  border: none;
  width: 213px;
  height: 61px;
}
